.login_page {
  background-color: rgb(234, 234, 234);
  width: 100vw;
  height: 100vh;
}

.login_form {
  height: 500px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px rgb(172, 172, 172);
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  background-color: white;
  border-radius: 10px;
}

.login_wrapper {
  height: 400px;
  text-align: left;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

input {
  height: 30px;
  width: 300px;
  border: solid 1px rgb(172, 172, 172);
  border-radius: 5px;
}

.login-button {
  margin-top: 18.7px;
  height: 35px;
  width: 306px;
}